<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" th:src="@{'/images/diamonlogo.jpg'}">
	<title>PNJ_Shop</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
		integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
		integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
	<div class="ui container">
		<div th:replace="~{/admin/categories/addOrEdit::_nav}"></div>
		<div class="ui grid ui tertiary segment">
			<div class="four wide column ">
				<div class="ui secondary vertical pointing fluid menu ">
					<a class="item" th:href="@{/admin/categories}"> List of categories </a>
                    <a class="item" th:href="@{/admin/categories/add}"> Add new categories </a>
                    <a class="item" th:href="@{/admin/products}"> List of  products</a>
                    <a class="item active" th:href="@{/admin/products/add}"> Add new products </a>
					<a class="item" th:href="@{/admin/role}"> Decentralization </a>
				</div>
			</div>
			<div class="twelve wide column">
				<div class="ui form">
					<form th:action="@{/admin/products/saveOrUpdate}" method="post" enctype="multipart/form-data"
						th:object="${product}">
						<div class="ui two column very relaxed grid">
							<div class="column">
								<h4 class="ui dividing header">Add new products</h4>
								<div class="field">
									<div class="two fields">
										<input type="hidden" th:field="*{isEdit}">
										<div class="field" th:if="${product.isEdit}">
											<label>Products ID</label> <input name="productId" placeholder="Products ID"
												th:field="*{productId}" readonly>
										</div>
										<div class="field">
											<label>Products Name</label> <input type="text" name="shipping[last-name]"
												placeholder="Products Name" th:field="*{name}">
										</div>
									</div>
								</div>
								<div class="field">
									<label>Quantity</label>
									<div class="fields">
										<div class="field">
											<input type="text" name="shipping[address]" placeholder="Quantity"
												th:field="*{quantity}">
										</div>
										<div class="field">
											<div class="ui right labeled input">
												<label for="amount" class="ui label">$</label> <input type="text"
													placeholder="Amount" id="amount" th:field="*{unitPrice}">
												<div class="ui basic label">.00</div>
											</div>
										</div>
									</div>
								</div>
								<div class="two fields">
									<div class="field">
										<label>Category</label> <select class="ui fluid dropdown"
											th:field="*{categoryId}">
											<option th:each="item : ${categories}" th:value="${item.categoryId}"
												th:text="${item.name}"
												th:select="${item.categoryId==product.categoryId}">Category</option>
										</select>
									</div>
									<div class="field">
										<label>Status</label> <select class="ui fluid dropdown" th:field="*{status}">
											<option value="0">Out the stock</option>
											<option value="1">On sale</option>
											<option value="2">Featured</option>
											<option value="3">Out the Order</option>
										</select>
									</div>
									<div class="field">
										<label>Discount</label>
										<div class="ui right labeled input">
											<label for="amount" class="ui label">$</label> <input type="text"
												placeholder="Amount" id="amount" th:field="*{discount}">
											<div class="ui basic label">%</div>
										</div>
									</div>
								</div>
							</div>
							<div class="column">
								<h4 class="ui dividing header">Add new products</h4>
								<div class="field">
									<img id="image"
										th:src="${product.image!=null? '/admin/products/images/'+product.image:'images/noimage.png'} "
										width="40%"> <label>Image
										File</label>
									<div class="fields">
										<input id="my-input" class="form-control-file" onchange="chooseFile(this)"
											type="file" name="imageFile" placeholder="product Image">
									</div>
								</div>
							</div>
						</div>
						<Label>Description</Label> <input type="text" th:field="*{description}">
						<Label>Ingredient</Label> <input type="text" th:field="*{tv}">
						<button class="ui green button" style="margin-top: 10px;">Save</button>
						<button class="ui blue button" style="margin-top: 10px; margin-left: 614.5px;"
							th:href="@{admin/products}">Back to list</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	function chooseFile(fileInput) {
		if (fileInput.files && fileInput.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$('#image').attr('src', e.target.result);
			}
			reader.readAsDataURL(fileInput.files[0]);
		}
	}
</script>

</html>