<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/diamonlogo.jpg">
    <title>PNJ_Shop</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="ui container">
        <div th:replace="~{/admin/categories/addOrEdit::_nav}"></div>
        <div class="ui grid ui tertiary segment">
            <div class="four wide column ">
                <div class="ui secondary vertical pointing fluid menu ">
                     <a class="item" th:href="@{/admin/categories}"> List of categories </a>
                    <a class="item" th:href="@{/admin/categories/add}"> Add new categories </a>
                    <a class="item active" th:href="@{/admin/products}"> List of  products</a>
                    <a class="item" th:href="@{/admin/products/add}"> Add new products </a>
                    <a class="item" th:href="@{/admin/role}"> Decentralization </a>
                </div>
            </div>
            <div class="twelve wide column">
                <form th:action="@{/admin/products/search}">
                    <button class="ui inverted green button">Add new category</button>
                    <div class="ui action input" style="margin-left: 435px;">
                        <input type="text" placeholder="Search..." name="name">
                        <button class="ui icon black button">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </form>
                <br>
                <div class="ui form">
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Discount</th>
                                <th>Status</th>
                                <th>Category</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item,iStart:${products}">
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.quantity}"></td>
                                <td th:text="${item.unitPrice}"></td>
                                <td th:text="${item.discount}"></td>
                                <td th:text="${item.status}"></td>
                                <td th:text="${item.category.name}"></td>
                                <td>
                                    <a th:href="@{'/admin/products/edit/'+${item.productId}}" class="ui green button"><i
                                            class="fas fa-edit"></i></a>
                                    <a th:href="@{'/admin/products/delete/'+${item.productId}}"
                                        class="ui red button"><i class="far fa-trash-alt"></i></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>