<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/layout/layout :: dynamic(~{::body})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Order Detail</title>
</head>

<body>
	<div class="ui container" th:object="${order}">
		<div class="ui center aligned header">Order Information</div>
		<div>Order Number</div>
		 <h2>[[${order.id}]]</h2>
<!-- 		<div th:replace="~{/user/order/checkout::_user}"></div> -->
	<div class="ui two column doubling grid">
			<div class="column"><h2>Purchaser:[[*{account.username}]]</h2></div>
			<div class="column"><h2>Order
				Date:[[${order.createDate}]]</h2></div>
		</div>
		<hr>
		<h2>Order Lines</h2>
		<table class="ui fixed table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="detail: *{orderDetails}" th:object="${detail}">
					<td>[[*{product.productId}]]</td>
					<td>[[*{product.name}]]</td>
					<td>$[[*{#numbers.formatDecimal(product.unitPrice,0,'COMMA',2,'POINT')}]]</td>
					<td>[[*{quantity}]]</td>
					<td>$[[*{#numbers.formatDecimal(product.unitPrice*quantity,0,'COMMA',2,'POINT')}]]</td>
				</tr>				
			</tbody>
		</table>
	</div>
	<script>
	window.onload = function() {
		sessionStorage.test1 = ("[[${#request.remoteUser}]]");
		var name = sessionStorage.getItem('test1');
		document.getElementById("demo").innerHTML = name;
	}
</script>
</body>

</html>