<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
		<div class="ui container">
			<h1 class="ui left aligned header">Responsive UI Examples</h1>
			<div class="ui two column stackable grid">
				<div class="ten wide column" ng-repeat="item in cart.items">
					<div class="ui segment">
            <div class="ui two column stackable grid">
              <div class="column">
                <div class="ui segment"><img class="ui small image" th:src="@{'/images/{{item.image}}'}"></div>
              </div>
              <div class="column">
                <div class="ui segment">
                  <div class="header">{{item.name}}</div>
						<div class="meta">
							<span class="category">${{item.unitPrice|number:2}}</span>
						</div>
						<input type="number" ng-model="item.qty">	
                </div>
              </div>
            </div>
						<a style="color: black; position: absolute;
            right: 0;
            top: 0;"
							ng-click="cart.remove(item.productId)"><i class="times icon"></i></a>	
					</div>
				</div>
				<div class="six wide column">
					<div class="ui segment">${{item.qty*item.unitPrice|number:2}}</div>
				</div>
			</div>
		</div>
</body>

</html>