<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/layout :: dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
	<div class="ui placeholder segment">
		<div class="ui two column stackable center aligned grid">
			<div class="middle aligned row">
				<div class="column">
					<img th:src="@{'/images/738d89c837874a4ab31044808764b6fb.png'}"
						style="width: 450px">
				</div>
				<div class="column">
					<h1 style="font-size: 50px">Food</h1>
					<span>Cho dù bạn dừng chân để ăn trưa hay tìm kiếm chút thức
						ăn nhẹ, <br>chúng tôi luôn sẵn sàng phục vụ bạn.
					</span>
					<h2></h2>
					<button class="ui inverted grey button">
						<a th:href="@{/user/menu}" style="color: black;">Order Food</a>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="ui placeholder segment">
		<div class="ui two column stackable center aligned grid">
			<div class="middle aligned row">
				<div class="column">

					<h1 style="font-size: 50px">HAPPY PLACE FOUND</h1>
					<span>Trong thời tiết nóng nực như thế này, <br>hãy
						chiêu đãi bản thân bằng <br>Bánh Phễu Dâu mới, Bánh quy Mocha
						<br>hoặc Bánh Caramel Ribbon Crunch.
					</span>
					<h2></h2>
					<button class="ui inverted grey button">
						<a href="" style="color: black;">Order Frappuccino</a>
					</button>
				</div>
				<div class="column">
					<img th:src="@{'/images/137-72236.png'}" style="width: 500px">
				</div>
			</div>
		</div>
		<br>
		<div class="ui placeholder segment">
			<div class="ui two column stackable center aligned grid">
				<div class="middle aligned row">
					<div class="column">
						<img th:src="@{'/images/137-70203.png'}" style="width: 500px">
						<br>
						<h2>Order and pick up. Easy as that.</h2>
						<span>Chỉ cần mở ứng dụng, đặt hàng yêu thích của bạn và
							tận hưởng thanh toán không tiếp xúc. Từ đó, lựa chọn phương thức
							nhận hàng nào phù hợp nhất với bạn.</span>
					</div>
					<div class="column" style="color: #017143;">
						<img th:src="@{'/images/137-72045.jpg'}"> <br>
						<h2>Floating into summer like…</h2>
						<span>Giữ cho cảm giác thoải mái tiếp tục. Đặt đồ uống của
							Starbucks trên Uber Eats.</span>
					</div>
				</div>
			</div>
		</div>
</body>
</html>