<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="img/diamonlogo.jpg">
<title>PNJ_Shop</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
	integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
	integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />
</head>
<body>
	<div class="ui container">
		<br>
		<div class="ui secondary menu">
			<img th:src="@{'/images/logoadmin.jpg'}" alt="Avatar"
				class="avatar">
			<div class="header item">Nguyễn Hồng Minh Quân</div>
			<a class="item"> Home </a> <a class="item"> Messages </a> <a
				class="item"> Friends </a>
			<div class="right menu ">
				<div class="item">
					<div class="ui icon input">
						<input type="text" placeholder="Search..."> <i
							class="search link icon"></i>
					</div>
				</div>
				<a class="ui item"> Logout </a>
			</div>
		</div>
		<div class="ui divider"></div>
		<br>
		<div class="ui grid ui tertiary segment">
			<div class="four wide column ">
				<div class="ui secondary vertical pointing fluid menu ">
					<a class="item active" th:href="@{/admin/categories}" > List of products </a> 
                    <a class="item" th:href="@{/admin/categories/add}"> Add new products </a> 
                    <a class="item" th:href="@{/admin/products}"> List of categories </a> 
                    <a class="item" th:href="@{/admin/products/add}"> Add new categories </a>
				</div>
			</div>
			<div class="twelve wide column">
				<form th:action="@{/admin/categories/search}">
					<button class="ui inverted green button" >Add new category</button>
					<div class="ui action input" style="margin-left: 435px;">
						<input type="text" placeholder="Search..." name="name">
						<button class="ui icon black button">
							<i class="search icon"></i>
						</button>
					</div>					
				</form>
				<br>
				<div class="ui form">
					<table class="ui celled table">
						<thead>
							<tr>
								<th>Category ID</th>
								<th>Name</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="category:${categories}">
								<td scope="row">[[${category.categoryId}]]</td>
								<td th:text="${category.name}"></td>
								<td><a
									th:href="@{'/admin/categories/view/'+${category.categoryId}}"
									class="ui blue button"><i class="far fa-eye"></i></a> <a
									th:href="@{'/admin/categories/edit/'+${category.categoryId}}"
									class="ui green button"><i class="fas fa-edit"></i></a> <a
									th:href="@{'/admin/categories/delete/'+${category.categoryId}}"
									class="ui red button"><i class="far fa-trash-alt"></i></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
